[submodule "extern/grackle/grackle_repo"]
	path = extern/grackle/grackle_repo
	url = https://github.com/grackle-project/grackle
[submodule "domain"]
	path = domain
	url = https://github.com/iomaganaris/cornerstone-octree.git
	branch = master
